.about {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/decor/decor-coin-two.svg");
    background-size: cover;
    width: 254px;
    height: 255px;
    top: -278px;
    right: -161px;
    z-index: -1;

    @media (max-width: $tablet-width) {
      top: -149px;
      right: -39px;
      width: 189px;
      height: 190px;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/decor/decor-coin-one.svg");
    background-size: cover;
    width: 121px;
    height: 150px;
    left: -158px;
    bottom: -136px;

    @media (max-width: $tablet-width) {
      width: 116px;
      height: 137px;
      left: -31px;
      bottom: -160px;
    }
  }
}

.about__wrapper {
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: $gradient-about;
  min-height: 966px;
  margin-top: 228px;
  margin-bottom: 131px;
  padding: 60px 0 124px;

  @media (max-width: $tablet-width) {
    margin-top: 0;
    padding-top: 71px;
    padding-bottom: 120px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 40px;
    padding-bottom: 54px;
    margin-bottom: 36px;
  }

  &::before {
    position: absolute;
    content: url("../img/decor/decor-about-big.svg");
    z-index: -2;
    left: -248px;
    top: -313px;
  }

  &::after {
    position: absolute;
    content: url("../img/decor/decor-about-small.svg");
    z-index: -2;
    right: 0;
    bottom: 0;
  }
}

.about__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 946px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: $mobile-width) {
    padding: 0 1px;
  }

  h2,
  h3,
  p {
    margin: 0;
  }

  h2 {
    margin: 0;
    color: $very-dark-blue;
    @include font(48, 59, 800);
    padding-bottom: 34px;

    @media (max-width: $tablet-width) {
      padding-bottom: 49px;
    }

    @media (max-width: $mobile-width) {
      @include resize-txt(26, 32);
      padding-bottom: 30px;
    }
  }
}

.about__descr {
  @include font(20, 24, 400);
  color: $very-dark-blue;
  padding: 0 10px 55px;
  letter-spacing: -0.1px;
  text-align: center;

  @media (max-width: $tablet-width) {
    @include resize-txt(16, 22);
    padding: 0 0px 72px;
    letter-spacing: -0.1px;
  }

  @media (max-width: $mobile-width) {
    text-align: left;
    @include resize-txt(14, 20);
    padding-bottom: 30px;
  }
}

.about__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 30px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    row-gap: 25px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 3px;
    row-gap: 13px;
  }
}

.about__list-item {
  width: 100%;
  min-height: 194px;
  padding: 30px 26px 33px;
  background-color: $dark-gray;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $tablet-width) {
    min-height: 166px;
    padding: 38px 103px 26px;

    br {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    min-height: 166px;
    padding: 22px 5px 26px;
    justify-content: center;

    br {
      display: block;
    }
  }

  h3 {
    @include font(23, 28, 800);
    color: $title-card;
    padding-bottom: 15px;
    text-align: center;

    @media (max-width: $tablet-width) {
      @include resize-txt(18, 22);
      padding-bottom: 19px;
    }
  }

  p {
    @include font(18, 22, 700);
    color: $main-white;
    text-align: center;

    @media (max-width: $tablet-width) {
      @include resize-txt(16, 20);
    }

    @media (max-width: $mobile-width) {
      @include resize-txt(14, 17);
    }
  }
}
