.about {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/decor/decor-coin-two.svg");
    background-size: cover;
    width: 254px;
    height: 255px;
    top: -233px;
    right: -197px;

    @media (max-width: $tablet-width) {
      top: -208px;
      right: -39px;
      width: 189px;
      height: 190px;
    }
  }

  &::after {
    position: absolute;
    content: url("../img/decor/decor-coin-one.svg");
    left: -190px;
    bottom: -201px;
  }
}

.about__wrapper {
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: $gradient-about;
  min-height: 966px;
  margin-top: 231px;
  margin-bottom: 178px;
  padding: 78px 0 133px;

  @media (max-width: $tablet-width) {
    margin-top: 0;
    padding-top: 71px;
    padding-bottom: 117px;
  }

  &::before {
    position: absolute;
    content: url("../img/decor/decor-about-big.svg");
    z-index: -2;
    left: -248px;
    top: -313px;
  }

  &::after {
    position: absolute;
    content: url("../img/decor/decor-about-small.svg");
    z-index: -2;
    right: 0;
    bottom: 0;
  }
}

.about__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 946px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  h2,
  h3,
  p {
    margin: 0;
  }

  h2 {
    margin: 0;
    color: $very-dark-blue;
    @include font(48, 59, 800);
    padding-bottom: 47px;
  }
}

.about__descr {
  @include font(20, 24, 400);
  color: $very-dark-blue;
  padding: 0 21px 55px;
  letter-spacing: -0.4px;
  text-align: center;

  @media (max-width: $tablet-width) {
    @include resize-txt(16, 20);
    padding: 0 0px 74px;
    letter-spacing: -0.1px;
  }
}

.about__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 30px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    row-gap: 25px;
  }
}

.about__list-item {
  width: 100%;
  min-height: 194px;
  padding: 30px 26px 33px;
  background-color: $dark-gray;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $tablet-width) {
    min-height: 166px;
    padding: 38px 103px 26px;

    br {
      display: none;
    }
  }

  h3 {
    @include font(23, 28, 800);
    color: $title-card;
    padding-bottom: 15px;
    text-align: center;

    @media (max-width: $tablet-width) {
      @include resize-txt(18, 22);
      padding-bottom: 19px;
    }
  }

  p {
    @include font(18, 22, 700);
    color: $main-white;
    text-align: center;

    @media (max-width: $tablet-width) {
      @include resize-txt(16, 20);
    }
  }
}
