.audit {
  min-height: 565px;
  padding-top: 68px;
  position: relative;

  &::before {
    position: absolute;
    content: url("../img/decor/decor-grid-bcg.svg");
    width: 757px;
    height: 565px;
    top: 0;
    left: calc((100% - 1657px)/2);
  }
}

.audit__wrapper {
  background-color: $dark-gray;
  min-height: 345px;
  position: relative;
  background-image: url("../img/decor/decor-audit-backlight.svg");
  background-repeat: no-repeat;
  background-position: -144px -246px;

  &::before {
    position: absolute;
    content: url("../img/audit/audit-img.png");
    z-index: 1;
    left: calc((100% + 278px) / 2);
    bottom: -20px;
  }

  h2,
  p {
    margin: 0;
  }

  h2 {
    @include font(48, 59, 700);
    color: $title-audit;
    padding-bottom: 21px;
  }

  p {
    @include font(18, 22, 800);
    color: $main-white;
    max-width: 499px;
    padding-bottom: 37px;
  }
}

.audit__inner {
  max-width: 1165px;
  margin: 0 auto;
  padding: 60px 0 60px 93px;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    z-index: 0;
  }

  &::before {
    content: url("../img/decor/decor-audit-bubble.svg");
    right: 11px;
    bottom: 28px;
  }

  &::after {
    content: url("../img/decor/decor-audit-bubble-s.svg");
    bottom: -3px;
    right: 378px;
  }
}
