.audit {
  min-height: 565px;
  padding-top: 68px;
  position: relative;

  @media (max-width: $tablet-width) {
    padding-top: 89px;
    min-height: 831px;
  }

  @media (max-width: $mobile-width) {
    min-height: 576px;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/decor/decor-grid-bcg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 757px;
    height: 565px;
    top: 0;
    left: calc((100% - 1657px) / 2);

    @media (max-width: $tablet-width) {
      width: 831px;
      height: 620px;
      transform: rotate(90deg);
      top: 146px;
      left: -177px;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}

.audit__wrapper {
  background-color: $dark-gray;
  min-height: 345px;
  position: relative;
  background-image: url("../img/decor/decor-audit-backlight.svg");
  background-repeat: no-repeat;
  background-position: -144px -246px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/audit/audit-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 260px;
    height: 336px;
    z-index: 2;
    right: calc((100% - 859px) / 2);
    bottom: -15px;

    @media (max-width: $tablet-width) {
      right: 96px;
    }

    @media (max-width: $mobile-width) {
      width: 176px;
      height: 244px;
      bottom: -10px;
      right: 7px;
    }
  }

  h2,
  p {
    margin: 0;
  }

  h2 {
    @include font(48, 59, 700);
    color: $title-audit;
    padding-bottom: 21px;
    max-width: 543px;
    width: 100%;
    text-transform: uppercase;

    @media (max-width: $tablet-width) {
      padding-bottom: 46px;
    }

    @media (max-width: $mobile-width) {
      @include resize-txt(26, 32);
      padding-bottom: 30px;
      padding-left: 7px;
    }
  }

  p {
    @include font(18, 22, 800);
    color: $main-white;
    max-width: 499px;
    padding-bottom: 37px;

    @media (max-width: $tablet-width) {
      padding-bottom: 49px;
    }

    @media (max-width: $mobile-width) {
      @include resize-txt(16, 24);
      padding-left: 10px;
      padding-bottom: 30px;
    }
  }
}

.audit__inner {
  max-width: 1165px;
  margin: 0 auto;
  padding: 60px 0 60px 93px;
  position: relative;
  z-index: 1;

  @media (max-width: $tablet-width) {
    min-height: 686px;
    padding: 87px 0 60px 50px;
  }

  @media (max-width: $mobile-width) {
    padding: 53px 5px;
    min-height: 576px;
  }

  &::before,
  &::after {
    position: absolute;
    z-index: -1;
    content: "";
    background-image: url("../img/decor/decor-audit-bubble.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: $mobile-width) {
      transform: rotate3d(0, 1, 0, 180deg);
    }
  }

  &::before {
    right: calc((100% - 1142px) / 2);
    bottom: 28px;
    width: 216px;
    height: 283px;

    @media (max-width: $tablet-width) {
      right: 26px;
    }

    @media (max-width: $mobile-width) {
      width: 138px;
      height: 180px;
      right: 114px;
      bottom: 50px;
    }
  }

  &::after {
    bottom: 0;
    right: calc((100% - 410px) / 2);
    width: 172px;
    height: 225px;

    @media (max-width: $tablet-width) {
      right: 296px;
    }

    @media (max-width: $mobile-width) {
      width: 76px;
      height: 99px;
      right: 229px;
    }
  }
}
