.footer {
  flex: 0 0 auto;
  padding-top: 212px;
  position: relative;

  &::before {
    position: absolute;
    content: url("../img/decor/decor-coin-big.svg");
    top: 14px;
    left: calc((100% - 1587px) / 2);
    z-index: -1;
  }
}

.footer__wrapper {
  width: 100%;
  min-height: 216px;
  background-color: $main-white;
  padding: 55px 0 35px;
}

.footer__content {
  width: 543px;
  min-height: 106px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer__contact-list,
.footer__social-list {
  @include reset-list;
}

.footer__contact-item {
  margin-bottom: 20px;

  a {
    @include font(18, 22, 600);
    color: $main-black;

    &:hover,
    &:focus-visible {
      transition: $trans--300;
      color: $strong-orange;
    }
  }
}

.footer__social-list {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 179px;
  right: 0;
  bottom: 20px;
}

.footer__social-item {

  &:hover {
    img {
      transition: $trans--300;
      transform: scale(1.2);
    }
  }
}
