.form {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  min-height: 552px;
  background: $gradient-card;
  display: flex;
  flex-flow: column wrap;
  padding: 33px 0 36px;
  position: relative;

  @media (max-width: $tablet-width) {
    padding: 71px 0 65px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 42px;
    min-height: 806px;
  }

  p {
    @include font(40, 49, 800);
    color: $main-black;
    margin: 0;
    text-align: center;

    @media (max-width: $mobile-width) {
      @include resize-txt(26, 32);
      text-align: left;
    }
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/decor/decor-coin-form.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 151px;
    height: 242px;
    top: 207px;
    right: -253px;
    z-index: -1;

    @media (max-width: $tablet-width) {
      top: -178px;
      width: 103px;
      right: 0;
      height: 158px;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}

.form__wrapper {
  max-width: 660px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  @media (max-width: $mobile-width) {
    padding: 0 5px;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icons/icon-decor-form.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 204px;
    height: 227px;
    right: 0px;
    bottom: 120px;

    @media (max-width: $tablet-width) {
      width: 225px;
      height: 251px;
      right: -11px;
      bottom: 92px;
    }

    @media (max-width: $mobile-width) {
      width: 176px;
      height: 196px;
      bottom: -245px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.form__fields {
  @include reset-list;
  width: 391px;
  margin-bottom: 16px;
  margin-top: 53px;

  @media (max-width: $tablet-width) {
    margin-top: 44px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.form__fields-item {

  input,
  textarea {
    width: 100%;
    border: 2px solid $main-black;
    border-radius: $radius15;
    background-color: $main-white;
    @include font(16, 20, 500);
    color: $main-black;
    padding: 0 20px;

    @media (max-width: $mobile-width) {
      @include resize-txt(12, 15);
      padding: 0 15px;
    }

    &::placeholder {
      color: $placeholder;
    }

    &:hover,
    &:focus-visible {
      transition: $trans--300;
      border-color: $strong-orange;

      &::placeholder {
        transition: $trans--300;
        color: $main-black;
      }
    }
  }

  input {
    min-height: 43px;
    margin-bottom: 21px;
  }

  textarea {
    resize: none;
    min-height: 120px;
    padding-top: 12px;
    padding-bottom: 20px;
  }
}

.form__recaptcha {
  height: 0;
  width: 0;
  opacity: 0;

  &--show {
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: $trans--300;
  }
}
