.header {
  flex: 0 0 auto;
}

.header__wrapper {
  display: flex;
  max-width: 1280px;
  padding: 0 49px;
  margin: 0 auto;
  min-height: 59px;
  align-items: center;

  @media (max-width: 1279px) {
    justify-content: space-between;
  }

  @media (max-width: $tablet-width) {
    background-color: $grayish-blue;
    min-height: 104px;
  }

  @media (max-width: $mobile-width) {
    min-height: 80px;
  }
}

.header__nav {
  display: flex;
}

.header__logo {
  margin-right: 70px;

  @media (max-width: $tablet-width) {
    width: 214px;
    height: 36px;
  }
}
