.how-it-works {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/decor/decor-coin-two.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 254px;
    height: 255px;
    bottom: 0;
    left: -109px;
    z-index: -1;

    @media (max-width: $tablet-width) {
      width: 192px;
      height: 190px;
      bottom: -50px;
      left: 17px;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}

.how-it-works__title {
  max-width: 611px;
  width: 100%;
  margin: 201px auto 0;
  min-height: 104px;
  border: 1px solid $light-gray;
  @include flex-center;

  @media (max-width: $mobile-width) {
    min-height: 59px;
    margin-top: 60px;
  }

  h2 {
    margin: 0;
    @include font(48, 59, 800);
    color: $light-gray;

    @media (max-width: $mobile-width) {
      @include resize-txt(26, 32);
    }
  }
}

.how-it-works__list {
  display: flex;
  flex-flow: row wrap;
  margin-top: 144px;
  justify-content: center;
  padding: 0;
  counter-reset: section;
  list-style-type: none;
  margin-bottom: 8px;

  @media (max-width: $tablet-width) {
    margin-top: 91px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 35px;
  }
}

.how-it-works__item {
  width: 340px;
  min-height: 290px;
  position: relative;
  margin-right: 60px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;

  @media (min-width: 1181px) {

    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }

  @media (max-width: 1180px) {

    &:nth-child(2n + 2) {
      margin-right: 0;
    }
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 90px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
    margin-bottom: 80px;
    min-height: 219px;
  }

  &:last-child {
    max-width: 716px;
    width: 100%;
    align-self: center;
    margin-right: 0;

    @media (max-width: $mobile-width) {
      max-width: 340px;

      &::before {
        color: $title-features;
      }
    }
  }

  h3 {
    margin: 0;
    @include font(20, 24, 900);
    color: $title-features;
    text-align: right;
  }

  &::before {
    counter-increment: section;
    content: counters(section, "") ".";
    position: absolute;
    @include font(200, 139, 900);
    color: $light-gray;
    top: 0;
    left: 0;

    @media (max-width: $mobile-width) {
      content: counters(section, "") "";
    }
  }
}

.how-it-works__item-title {
  margin-left: auto;
  width: 197px;
  min-height: 72px;
  position: relative;

  @media (max-width: $mobile-width) {
    padding-left: 5px;
  }

  &::after {
    position: absolute;
    content: url("../img/icons/icon-arrow-features.svg");
    right: 0;
    bottom: -76px;

    @media (max-width: $mobile-width) {
      content:  url("../img/icons/icon-arrow-features-s.svg");
      right: 86px;
      bottom: -73px;
    }
  }
}

.how-it-works__content {
  border-top: 5px solid $light-gray;
  margin-top: 98px;
  padding-top: 15px;
  padding-right: 56px;

  @media (max-width: $mobile-width) {
    margin-top: 89px;
    padding-top: 26px;
    padding-right: 20px;
    padding-left: 5px;
  }

  p {
    @include font(16, 20, 600);
    color: $light-gray;
    margin: 0;

    @media (max-width: $mobile-width) {

      br {
        display: none;
      }
    }
  }
}

.how-it-works__finish {
  max-width: 523px;
  width: 100%;
  margin-left: auto;

  h3,
  p {
    @include font(40, 49, 900);
    text-align: left;
    color: $title-card;
    margin: 0;
  }

  h3 {

    @media (max-width: $mobile-width) {
      @include resize-txt(30, 37);
      margin-left: auto;
      min-height: 30px;
      margin-right: 17px;
      width: max-content;
    }
  }

  p {

    @media (max-width: $mobile-width) {
      @include resize-txt(25, 30);
    }
  }
}

.how-it-works__finish-content {
  border-top: 8px solid $title-card;

  @media (max-width: $mobile-width) {
    border-width: 5px;
    margin-top: 124px;
    padding-top: 26px;
  }
}
