.intro {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0 100px 0;
  min-height: 605px;
  position: relative;

  @media (max-width: $tablet-width) {
    min-height: 1128px;
  }

  @media (max-width: $mobile-width) {
    min-height: 686px;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/decor/decor-intro-money.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 832px;
    height: 366px;
    right: calc((100% - 1681px) / 2);
    bottom: 91px;
    z-index: -1;

    @media (max-width: $tablet-width) {
      right: calc((100% - 838px) / 2);
      bottom: 139px;
    }

    @media (max-width: $mobile-width) {
      right: calc((100% - 356px) / 2);
      bottom: 70px;
      width: 353px;
      height: 164px;
    }
  }

  &::after {
    position: absolute;
    content: url("../img/decor/decor-intro-backlight.svg");
    z-index: -2;
    bottom: -50px;
    right: calc((100% - 1800px) / 2);

    @media (max-width: $tablet-width) {
      right: calc((100% - 1214px) / 2);
    }

    @media (max-width: $mobile-width) {
      right: calc((100% - 1067px) / 2);
      bottom: -171px;
    }
  }
}

.intro__wrapper {
  max-width: 711px;
  width: 100%;
  padding-top: 103px;

  @media (max-width: $tablet-width) {
    padding-top: 70px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 38px;
  }

  button {
    margin-top: 25px;

    @media (max-width: $mobile-width) {
      margin-top: 10px;
    }
  }

  h1,
  p {
    margin: 0;
  }

  h1 {
    @include font(50, 61, 900);
    color: $vivid-yellow;
    padding-bottom: 37px;

    @media (max-width: $tablet-width) {
      padding-bottom: 62px;
    }

    @media (max-width: $mobile-width) {
      @include resize-txt(26, 32);
      padding-bottom: 23px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/decor/decor-intro-diagram.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1029px;
    height: 454px;
    opacity: 0.25;
    z-index: -3;
    right: calc((100% - 1788px) / 2);
    bottom: 142px;

    @media (max-width: $tablet-width) {
      right: calc((100% - 957px) / 2);
      width: 901px;
      height: 473px;
      bottom: 147px;
    }

    @media (max-width: $mobile-width) {
      width: 386px;
      height: 162px;
      bottom: 119px;
      right: calc((100% - 406px) / 2);
    }
  }
}


.intro__desc {
  @include font(28, 34, 500);
  color: $main-white;
  padding-bottom: 34px;

  @media (max-width: $tablet-width) {
    padding-bottom: 42px;
  }

  @media (max-width: $mobile-width) {
    @include resize-txt(18, 22);
    padding-bottom: 15px;
  }

  span {
    @include resize-txt(20, 24);
    color: $vivid-yellow;

    @media (max-width: $mobile-width) {
      @include resize-txt(16, 20);
    }
  }
}
