.intro {
  background-image: url("../img/decor/bcg-intro.svg");
  background-repeat: no-repeat;
  background-position: right -38px;
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 0 30px 0;
  min-height: 605px;
}

.intro__wrapper {
  max-width: 711px;
  width: 100%;
  padding-top: 86px;

  h1,
  p {
    margin: 0;
  }

  h1 {
    @include font(48, 59, 900);
    color: $vivid-yellow;
    padding-bottom: 37px;
  }
}


.intro__desc {
  @include font(28, 34, 500);
  color: $main-white;
  padding-bottom: 42px;

  span {
    @include resize-txt(20, 24);
    color: $vivid-yellow;
  }
}
