.nav {
  position: relative;

  @media (max-width: 1279px) {
    width: 300px;
  }

  @media (max-width: $tablet-width) {
    width: 490px;
  }

  @media (max-width: $mobile-width) {
    width: 348px;
  }
}

.nav__list,
.nav__contact-list {
  @include reset-list;
  display: flex;
}

.nav__list {
  margin-right: 70px;

  @media (max-width: 1279px) {
    flex-direction: column;
    margin: 0;
    align-items: center;
    background: $gradient-about;
    width: 450px;
    min-height: 300px;
    padding-top: 60px;
    position: absolute;
    right: 0;
    top: -10px;

    .nav__item a {
      color: $very-dark-blue;
    }
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    height: 100%;
  }
}

.nav__contact-list {

  @media (max-width: 1279px) {
    order: -1;
    margin-right: auto;
  }

  @media (max-width: $mobile-width) {

    img {
      display: none;
    }
  }
}

.nav__wrapper {
  display: flex;
  align-items: center;

  @media (max-width: 1279px) {
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    right: 0;
    background-color: rgba($very-dark-blue, 0.5);

    &--show {
      opacity: 1;
      transition: $trans--300;
      visibility: visible;

      @media (max-width: $tablet-width) {
        width: 100%;
        top: 0;
        position: fixed;
        height: 100%;
      }
    }
  }
}

.nav__item {
  @include font(14, 17, 400);
  padding: 4px 15px;

  @media (max-width: 1279px) {
    margin-bottom: 10px;
  }

  a {
    color: $main-white;
  }

  @media (min-width: 1280px) {

    &:hover,
    &:focus-visible {
      outline: 1px solid $vivid-yellow;
      transition: $trans--300;

      a {
        color: $vivid-yellow;
        transition: $trans--300;
      }
    }
  }
}

.nav__contact-item {
  margin-right: 8px;
  transition: $trans--300;

  @media (max-width: 1279px) {

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: flex;
    align-items: center;
    @include font(14, 17, 400);
    color: $main-white;
  }

  span {
    padding-left: 7px;
  }

  &:hover,
  &:focus-visible {

    span {
      transition: $trans--300;
      color: $vivid-yellow;
    }
  }
}
