.page {
  height: 100%;
  scroll-behavior: smooth;
  background-color: $very-dark-blue;
}

.page__body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &--hidden {
    overflow: hidden;
  }
}
