.partners {
  padding-top: 46px;

  h2 {
    @include font(48, 59, 800);
    color: $light-gray;
    margin: 0;
    text-align: center;
    padding-bottom: 18px;
  }
}

.partners__wrapper {
  padding-top: 77px;
  min-height: 550px;
  background-image: url("../img/decor/decor-partners-frame.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 91px;
}

.partners__cards {
  @include reset-list;
  max-width: 920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 16px;
}

.partners__card {
  width: 218px;
  min-height: 115px;
  background-color: $partners-card;
  @include flex-center;

  p {
    @include font(16, 20, 800);
    color: $main-black;
    margin: 0;
  }
}
