.solved-tasks {
  position: relative;

  &::after,
  &::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  &::after {
    background-image: url("../img/decor/decor-coin-one.svg");
    width: 137px;
    height: 167px;
    transform: rotate(30deg);
    left: calc((100% - 929px) / 2);
    top: 515px;

    @media (max-width: $tablet-width) {
      left: 114px;
      top: 489px;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  &::before {
    background-image: url("../img/decor/decor-coin-dark.svg");
    width: 163px;
    height: 177px;
    right: calc((100% - 1594px) / 2);
    top: -40px;


    @media (max-width: $tablet-width) {
      width: 125px;
      height: 147px;
      right: -48px;
      top: -166px;
    }
  }

  h2 {
    @include font(48, 59, 800);
    text-align: center;
    margin: 0;
    color: $light-gray;

    @media (max-width: $mobile-width) {
      @include resize-txt(26, 32);
    }
  }
}

.solved-tasks__title {
  position: relative;
  margin-top: 32px;
  padding-top: 51px;

  @media (max-width: $tablet-width) {
    margin-top: 130px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 75px;
  }
}

.solved-tasks__wrapper {
  position: relative;
  width: 100%;
  padding: 0 20px;
  margin: 135px auto 0;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    margin-top: 97px;
    padding: 0 8px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 35px;
    padding: 0 5px;
  }
}

.solved-tasks__list {
  @include reset-list;
  display: flex;
  width: 100%;
}

.solved-tasks__item {
  background: $gradient-card;
  min-width: 499px;
  min-height: 344px;
  padding: 34px 23px 34px 50px;
  // margin-right: 20px;
  margin-bottom: 75px;
  position: relative;
  z-index: 1;
  overflow: hidden;

  @media (max-width: $mobile-width) {
    min-width: 310px;
    min-height: 296px;
    padding: 31px 5px 17px;
  }

  &::before,
  &::after {
    z-index: -1;
    position: absolute;
    content: "";
  }

  &::before {
    width: 261px;
    height: 261px;
    border-radius: 50%;
    background-color: $decor-circle;
    top: -64px;
    left: -50px;
  }

  &::after {
    content: url("../img/decor/decor-card.svg");
    right: -251px;
    top: 195px;
  }

  h3,
  p {
    margin: 0;
    color: $main-black;
  }

  h3 {
    @include font(40, 49, 700);
    padding-bottom: 19px;
    font-size: 40px;
    line-height: 49px;
    padding-right: 65px;

    @media (max-width: $mobile-width) {
      @include resize-txt(20, 24);
      padding-bottom: 17px;
      padding-right: 10px;
    }
  }

  p {
    @include font(16, 23, 700);
    padding-right: 30px;
  }
}
