.solved-tasks {
  position: relative;

  &::after {
    position: absolute;
    content: url("../img/decor/decor-coin-one.svg");
    transform: rotate(30deg);
    left: calc((100% - 929px)/2);
    top: 515px;
  }

  &::before {
    position: absolute;
    content: url("../img/decor/decor-coin-dark.svg");
    right: calc((100% - 1594px)/2);
    top: -40px;
  }

  h2 {
    @include font(48, 59, 800);
    text-align: center;
    margin: 0;
    color: $light-gray;
  }
}

.solved-tasks__title {
  position: relative;
  margin-top: 30px;
  padding-top: 51px;
}

.solved-tasks__big-title {
  position: absolute;
  @include font(85, 104, 800);
  color: $mostly-black;
  width: 100%;
  text-align: center;
  z-index: -1;
  top: 0;
}

.solved-tasks__wrapper {
  margin-top: 135px;
  // overflow: auto;
  position: relative;
}

.solved-tasks__list {
  @include reset-list;
  display: flex;
}

.solved-tasks__item {
  background: $gradient-card;
  min-width: 499px;
  min-height: 344px;
  padding: 34px 23px 34px 50px;
  margin-right: 20px;
  margin-bottom: 75px;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before,
  &::after {
    z-index: -1;
    position: absolute;
    content: "";
  }

  &::before {
    width: 261px;
    height: 261px;
    border-radius: 50%;
    background-color: $decor-circle;
    top: -64px;
    left: -50px;
  }

  &::after {
    content: url("../img/decor/decor-card.svg");
    right: -251px;
    top: 195px;
  }

  h3,
  p {
    margin: 0;
    color: $main-black;
  }

  h3 {
    @include font(40, 49, 700);
    padding-bottom: 19px;
    font-size: 40px;
    line-height: 49px;
    padding-right: 65px;
  }

  p {
    @include font(16, 22, 700);
    padding-right: 30px;
  }
}
