.button {
  cursor: pointer;
  appearance: none;
  background: transparent;
  padding: 0;
  border: none;
  transition: $trans--300;

  &--burger {
    display: none;

    @media (max-width: 1279px) {
      background-image: url("../img/icons/icon-burger.svg");
      background-size: cover;
      width: 61px;
      height: 21px;
    }

    @media (max-width: $tablet-width) {
      right: 19px;
    }

    @media (max-width: $mobile-width) {
      width: 30px;
      height: 14px;
      right: 0;
    }
  }

  &--close {
    background-image: url("../img/icons/icon-close.svg");
    width: 34px;
    height: 34px;

    @media (max-width: 1279px) {
      top: 20px;
      right: -15px;
    }

    @media (max-width: $tablet-width) {
      top: -15px;
      right: 0;
    }
  }

  &--burger,
  &--close {
    background-repeat: no-repeat;

    @media (max-width: 1279px) {
      background-repeat: no-repeat;
      display: block;
      margin-left: auto;
      position: relative;
      z-index: 5;
    }
  }

  &--submit,
  &--ok {
    width: 286px;
    min-height: 53px;
    border: 2px solid $main-black;
    border-radius: $radius10;
    color: $main-black;
    @include font(16, 20, 800);

    @media (max-width: $mobile-width) {
      width: 100%;
      margin: 0 auto;
    }

    &:hover,
    &:focus-visible {
      border-color: $strong-orange;
      color: $strong-orange;
    }

    &:active {
      background-color: $soft-yellow;
    }
  }

  &--order {
    @include flex-center;
    @include font(16, 20, 700);
    max-width: 353px;
    width: 100%;
    min-height: 64px;
    background-color: $vivid-yellow;
    color: $very-dark-blue;

    @media (max-width: $mobile-width) {
      width: 100%;
      min-height: 54px;
      @include resize-txt(14, 17);
    }

    &:hover,
    &:focus-visible {
      background-color: $light-yellow;
    }

    &:active {
      color: $main-white;
    }
  }

  &--swiper {
    width: 27px;
    height: 24px;

    &:disabled {
      visibility: hidden;
    }

    &:hover {

      svg {
        transition: $trans--300;
        transform: scale(1.5);
        --hover: #ffe266;
      }
    }
  }

  &--modal {
    top: 15px;
    position: absolute;
    z-index: 5;
    right: 5px;

    @media (max-width: $mobile-width) {
      right: 0;
    }
  }

  &--ok {
    margin-top: 34px;
    margin: 34px auto 0;
    @include flex-center;
  }
}
