.button {
  cursor: pointer;
  appearance: none;
  background: transparent;
  padding: 0;
  border: none;
  transition: $trans--300;

  &--submit {
    width: 286px;
    min-height: 53px;
    border: 2px solid $main-black;
    border-radius: $radius10;
    color: $main-black;
    @include font(16, 20, 800);

    &:hover,
    &:focus-visible {
      border-color: $strong-orange;
      color: $strong-orange;
    }

    &:active {
      background-color: $soft-yellow;
    }
  }

  &--order {
    @include font(16, 20, 700);
    width: 353px;
    min-height: 64px;
    background-color: $vivid-yellow;
    color: $very-dark-blue;

    &:hover,
    &:focus-visible {
      background-color: $light-yellow;
    }

    &:active {
      color: $main-white;
    }
  }

  &--swiper {
    width: 27px;
    height: 24px;

    &:hover {

      svg {
        transition: $trans--300;
        transform: scale(1.5);
        --hover: #ffe266;
      }
    }
  }
}
