.swiper__control {
  width: 91px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 7px;
  right: calc((100% - 1050px) / 2);

  @media (max-width: $tablet-width) {
    right: 15px;
  }

  @media (max-width: $mobile-width) {
    bottom: 25px;
  }
}
